html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5;
    background: rgb(00, 00, 00);
    color: #323232;
    opacity: inherit;
}

.header {
    background-color: black;
    padding: 0px;
}

img {
    max-width: 140px;
}

.icon {
    fill: currentColor;
    display: block;
    font-size: ;
    height: 4em;
    overflow: visible;
}

a {
    color: #236FB2;
    text-decoration: navajowhite;
}

a:hover {
    text-decoration: blue;
}

.container {
    max-width: 960px;
    margin: 40px auto;
    padding: 32px;
    background: orange;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    opacity: 0%;
}

section {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 20px;
    padding: 24px 0;
    border-bottom: 1px solid lightgrey;
}

.tache {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 2;
    color: white;
    font-size: 15px;
}

.objectif {
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    color: white;
}

.tache ul {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: justify;
    color: black;
}

section:last-child {
    border-bottom: none;
}

.section-title {
    font-weight: bold;
    font-size: 18px;
    color: white;
    text-transform: capitalize;
}


/***********************************
* =Main Info
***********************************/

img.avatar {
    width: 160px;
    border: solid;
}

.my-name {
    font-size: 48px;
    line-height: 1.5;
    color: white;
}

.my-title {
    font-size: 40px;
    font-weight: 800;
    color: #236FB2;
}

.links {
    display: flex;
    margin: 10px 0 20px 0;
    vertical-align: baseline;
    font-size: 20px;
    text-decoration: underline;
    color: white;
}

.link-item {
    display: flex;
    align-items: center;
    flex: 5;
    color: white;
    margin-top: 1 0px;
}

.link-item svg {
    margin-right: 5px;
    width: 25px;
    color: white;
}


/***********************************
* =Experience
***********************************/

.job {
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid lightgrey;
}

.job:last-child {
    border-bottom: none;
}

.job-title-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 18px;
}

.job-company {
    font-weight: bold;
    line-height: 1.2;
}


/***********************************
* =Skills
***********************************/

.skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    list-style-type: disc;
    margin-bottom: 24px;
}

.skills-container ul {
    margin-left: 20px;
    list-style-type: disc;
}


/***********************************
* =Interests
***********************************/

.interests-container {
    display: flex;
    justify-content: space-between;
}

.interests-container img {
    height: 35px;
    opacity: 0.75;
}


/***********************************
* =langues
***********************************/

.liste-container ul {
    margin-left: 20px;
    list-style-type: disc;
}